<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Please Login with one of the methods given below:</p>
    <a href='/auth/facebook'>login through facebook</a>
  </body>
</html>
